@import 'index.scss';
@import 'carDetail.scss';
@import 'newsDetail.scss';
@import 'repair.scss';
@import 'news.scss';
@import '_table.scss';
@import 'main.scss';
@font-face {
  font-family: DINPro-Medium;
  src: url('../../assets/fonts/DINPro-Medium_13936.ttf');
}
.form-control:focus {
  box-shadow: none !important;
}
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, PingFangHK-Regular,"PingFang SC",
  "Hiragino Sans GB", "Heiti SC",
  "WenQuanYi Micro Hei", sans-serif;
}












