@import 'index.scss';

body {
  background: url("../images/body-bg.png") no-repeat;
  background-position: bottom;
  background-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, PingFangHK-Regular,"PingFang SC",
  "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
  "WenQuanYi Micro Hei", sans-serif !important;
}












