#container {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#background_video {
  position: absolute;

  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%; width: 100%;
}

#video_cover {
  position: absolute;

  width: 100%; height: 100%;

  background: url('../../assets/img/video_cover.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

#video_controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#play img {
  width: 100px;
}
#pause img {
  width: 90px;
}
#pause {
  display: none;
}

/*@font-face {*/
/*font-family: DINAlternate;*/
/*src: url('DIN Alternate Regular.otf');*/
/*}*/

#container {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
}

#main_content {
  z-index: 2;
  position: relative;
  font-family: "DINPro-Medium", "Microsoft YaHei";
  text-align: center;
  color: #FFFFFF;
  /* Vertical center */
  top: 50%;
  transform: translateY(-50%);
}

#main_content h1 {
  font-size: 48px;
  letter-spacing: 13px;
  text-shadow: 0 0 14px rgba(0,0,0,0.24);
}
#main_content p {
  font-size: 22px;
}
#main_content .sub_head {
  color: rgba(255,255,255,0.5);
  font-size: 18px;
}

#main_content .info {
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  margin-top: 10px;
}

#links {
  margin-top: 50px;
}

#links a {
  border: 1px solid #ffffff;
  -moz-border-radius: rem(61);
  -ms-border-radius: rem(61);
  border-radius: rem(61);
  -o-border-radius: rem(60);
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: rem(10) rem(35);
  display: inline-block;
  margin-right: rem(15);
}
.header-content {
  position: fixed;
  font-family: "DINPro-Medium","Microsoft YaHei";
  z-index: 99;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: #ffffff;
  font-size: rem(20);
  .logo {
    float: left;
    padding-left: rem(52);
    padding-right: rem(30);
    line-height: rem(60);
  }
  .menuIcon {
    width: rem(50);
    position: absolute;
    top: rem(20);
    right: rem(20);
    height: rem(31);
  }
  .icon-line {
    position: absolute;
    right: rem(20);
    width: rem(25);
    height: 1px;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all .33s ease;
    -ms-transition: all .33s ease;
    transition: all .33s ease;
  }
  .line_top {
    padding-top: rem(5);
  }
  .line_md {
    padding-top: rem(12);
  }
  .line_bottom {
    padding-top: rem(19);
  }
}
ol, ul {
  margin-bottom: 0 !important;
}
.header-content ul{
  display: flex;
  .active {
    a {
      position: relative;
      &:after {
        position: absolute;
        content: " ";
        width: rem(50);
        height: rem(3);
        top: rem(56);
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: #04BCF6;
      }
    }
  }
}
.header-content ul li{
  list-style: none;
  cursor: pointer;
  color: #ffffff;
  //transition: all 0.5s;
  //-moz-transition: all 0.5s, -moz-transform 0.5s; /* Firefox 4 */
  //-webkit-transition: all 0.5s, -webkit-transform 0.5s; /* Safari and Chrome */
  //-o-transition: all 0.5s, -o-transform 0.5s; /* Opera */
  //&:hover {
  //  transform: rotate(360deg);
  //  -moz-transform: rotate(360deg); /* Firefox 4 */
  //  -webkit-transform: rotate(360deg); /* Safari and Chrome */
  //  -o-transform: rotate(360deg); /* Opera */
  //}
  a {
    position: relative;
    padding: rem(20) rem(30);
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
}
#footer {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  opacity: 0.75;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 1%, #000000 100%);
}
#footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  padding: rem(20) rem(40);
  font-size: 14px;
}
#footer a:first-child {
  float: left;
}
#footer a:last-child {
  float: right;
}
.pc_styles {
  display: inherit;
}
.mobile-styles {
  display: none;
}
.icon-line {
  width: rem(30);
  height: 1px;
  border-bottom: 1px solid #ffffff;
  -moz-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}

.rightMenu {
  position: relative;
  width: 100%;
  height: 100%;
  .menuMask {
    background: #000000;
    opacity: 0.4;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
  }
  .menu {
    display: none;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    width: rem(250);
    background: #ffffff;
    height: 100vh;
    li {
      padding: 0 rem(20);
      a {
        font-size: rem(14);
        display: block;
        color: #141414;
        border-bottom: rem(1) solid #dddddd;
        padding: rem(20) rem(10);
        &:hover {
          text-decoration: none;
          color: #04BCF6;
        }
      }
    }
    li:first-child {
      a {
        border-bottom: none;
        padding-bottom: 0;
      }
      text-align: right;
    }
  }
}
.mobileMenu {
  display: none;
  background: #000000;
  position: fixed;
  z-index: 999;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
  ul {
    padding: rem(20) rem(40);
    text-align: center;
    li {
      a {
        font-size: rem(24);
        padding: rem(20);
        display: block;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .MenuHeader {
    padding: rem(20) 0 0 rem(15);
    display: flex;
    img {
      flex: 1;
      text-align: left;
    }
    span {
      flex: 1;
      text-align: right;
      padding-right: rem(15);
    }
  }
}
@media (max-width: 768px) {
  .carsBanner {
    width: 100%;
    text-align: center;
    .carType {
      font-family: DINPro-Medium;
      margin-top: rem(66);
      font-size: rem(24);
      color: #404040;
      letter-spacing: 0.23px;
    }
    .typeDes {
      //font-family: PingFangHK-Regular;
      margin-top: rem(23);
      font-size: rem(16);
      color: #404040;
      letter-spacing: 0.15px;
    }
    .carImages {
      margin-top: rem(35);
      height: auto;
      position: relative;
      img {
        background-size: cover;
        width: 100%;
      }
      .bannerBtn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        ._btn {
          border: rem(1) solid  #888888;
          font-size: rem(14);
          border-radius:rem(100);
          -o-border-radius: rem(100);
          -moz-border-radius: rem(100);
          -ms-border-radius: rem(100);
          color: #888888;;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding: rem(9) rem(25);
          display: inline-block;
          margin-left: rem(15);
        }
        ._btn:nth-child(2) {
          color: #04BCF6;
          border-color: #04BCF6;;
        }
      }
    }
  }
  .mobile-footer {
    text-align: center;
    img {
      padding-top: rem(45);
      padding-bottom: rem(30);
    }
    .rights {
      //font-family: PingFangHK-Regular;
      font-size: rem(14);
      color: #888888;
      padding: rem(0) rem(40) rem(20) rem(40);
      letter-spacing: 0.13px;
    }
  }
  .paddingT-54 {
    padding-top: rem(54);
  }
  .header-content ul li{
    padding: rem(16) rem(25);
  }
  .pc_styles {
    display: none;
  }
  .mobile-styles {
    display: block;
  }
}